@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:400|Poppins:500");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    font-family: "Poppins",sans-serif;
}

.container-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    position: relative;
}

.container-1::before {
    content: "";
    background: url(background.jpg) no-repeat;
    opacity: 0.22;
    background-position: right center;
    background-size: cover;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.container-1::after {
    content: "";
    background-color: #5200ff;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.text-container {
    width: 26.5rem;
    z-index: 1;
}

h1 {
    font-family: "Bebas Neue",cursive;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #FFF;
    
}

p {
    font-size: 1.5rem;
    color: #FFF;
}

.container-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
}

label,
input {
    display: block;
}

label {
    margin-bottom: 0.875rem;
}

input {
    border: 1px solid #C7C7C7;
    background-color: #ededed;
    font-size: inherit;
    height: 3.5em;
    width: 21em;
    padding: 0 1rem;
}

.name-container input {
    margin-bottom: 2.5rem;
}

.email-container input {
    margin-bottom: 5rem;
}

button {
    all: unset;
    color: #FFF;
    font-family: inherit;
    background-color: #5200ff;
    padding: 1rem 2rem;
}

@media (max-width: 1259px){
    .container {
        flex-direction: column;
    }

    .container-1{
        text-align: center;
    }

    form{
        min-width: 50%;
    }

    .name-container,
    .email-container {
        display: inline-block;
    }

    button {
        display: block;
    }

    input {
        width: 17rem;
    }
    .name-container input {
        margin-right: 2.43rem;
    }
}

@media (max-width: 769px) {
    .container-2 {
        padding: 2rem;
    }
    
    form {
        min-width: 100%;
    }
    
    .name-container,
    .email-container {
        display: block;
    }

    input,
    button {
        width: 100%;
    }

    button {
        padding: 1rem 0;
        text-align: center;
    }
}

/* i'm sorry :(*/